#hdiv{
    display: grid;
    grid-template-columns: 20% 78%;
    border: 1px solid red;
}
#container1{
    border: 1px solid rgb(221, 218, 212);
    justify-content: center;
}
#container1>div{
    border: 1px solid rgb(221, 218, 212);
}
#container2{
    display: grid;
    grid-template-columns: repeat(4,250px);
    gap: 10px;
    justify-content: right;
}
#head{
   display: flex;
   border: 1px solid red;
   gap: 10px;
   background-color: #FAFBFC;
   justify-content: center;
}


#div1{
   width: 50%;
   height: 900px;
   border: 1px solid red;
}
#div2{
   width: 30%;
   height: 900px;
   border: 2px solid black;
   display: flex;
}

h3{
   text-align: center;
}
#table,thead,tr,td{
   border: 1px solid blue;
}
#h7{
   display: flex;
   align-items: center;
}
.priceDiv{
   display: flex;
   justify-content: space-around;
}